# Ignore build artifacts and temporary files
/target
/web/dist
/web/node_modules

# Ignore hidden files and directories
.*
!.github/
!.github/**
!.dockerignore

# Ignore backup models
*.bak.cfnn
*.bak.json

# Ignore log files
/logs
