# Ignore build artifacts and temporary files
/target

# Ignore hidden files and directories
.*
!.github/
!.github/**
!.dockerignore

# Ignore backup models
*.bak.cfnn
*.bak.json

# Ignore log files
/logs
